################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
mongodb-linux-*.tgz
elasticsearch-*.deb
elasticsearch-*.deb.sha512