################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
mongodb-linux-*.tgz
elasticsearch-*.deb
elasticsearch-*.deb.sha512
elasticsearch-7.10.2-linux-x86_*.tar.gz
elasticsearch-7.11.2-linux-x86_*.tar.gz
elasticsearch-head-master.zip
harbor-offline-installer-v2.2.1.tgz
数据库/Elasticsearch/bin
数据库/Elasticsearch/config
数据库/Elasticsearch/ik
数据库/Elasticsearch/elasticsearch-7.12.0-linux-x86_64.tar.gz
数据库/Elasticsearch/elasticsearch-analysis-ik-7.12.0.zip
数据库/Elasticsearch/kibana-7.12.0-linux-x86_64.tar.gz
