<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="myvar" value="myvalue"/>

  <targets>
    <!-- Layout Required. Default: ${longdate}|${level:uppercase=true}|${logger}|${message}-->
    <target xsi:type="File"
            name="SimpleDemoFile"
            fileName="${basedir}/App_Data/Log/log.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"
            encoding="UTF-8"
            lineEnding="CRLF"
            archiveFileName="${basedir}/App_Data/Log/log.{#}.txt"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"/>
  </targets>

  <rules>
    <!-- name 是过滤器的作用 -->
    <logger name="SimpleDemo" level="Error" writeTo="SimpleDemoFile"/>
  </rules>
</nlog>
